label {
    width: 150px;
    float: left;
    margin-bottom: 5px;
}
input {
    float: left;
}
input,
select {
    width: 150px;
    margin-bottom: 5px;
}
fieldset {
    background: #ccff99;
    width: 350px;
}
.error {
    border: solid 2px #ff0000;
}